@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-image: url("bg4.jpg");
    background-size: cover;
    min-height: 100vh;

}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #021622;
    color: white;
}

nav .logo {
    font-size: 2.5rem;
    /* margin-right: 10rem; */
}

nav ul {
    display: flex;
    margin-right: 4rem;
}

nav ul li {
    padding: 5px 10px;
    font-size: 1.5rem;
    list-style-type: none;
    text-decoration: none;
    font-weight: 200;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.btn-container {
    justify-content: center;
    margin: auto;
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    display: flex;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.btn {

    cursor: pointer;
    border: none;
    color: #88abff;
    background-color: #fff;
    font-size: 20px;
}

.btn-container>button {
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.btn-container :nth-child(1) {
    color: white;
    background-color: black;

}


.btn-container :nth-child(2) {
    background-color: #DC3545;
    color: white;
}

.modal-container {
    position: absolute;
    z-index: 100;
    top: 18%;
    left: 0;
    right: 0;
    background-color: white;
    width: 23rem;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
    border-radius: 6px;
    display: none;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 99;
    transition: .4s all;
    
}

.modal-container .container-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* border-bottom: 1px rgb(168, 168, 168) solid; */
    font-size: 1.5rem;
}



.modal-container .input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.modal-container .input-container>* {
    margin: 6px 0;
}

.modal-container .input-container input,
textarea {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #021622;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 5px 0px;
    transition: .3s border;

}

.modal-container .input-container input:focus,
textarea:focus {
    border: 2px solid #8fd3f4;
    outline: red;



}

.modal-container .input-container textarea {
    height: 120px;
}

.modal-container .input-container p {
    font-size: 1.2rem;
}

.modal-container .input-container .modal-btn {
    background-color: #88abff;
    color: white;
    padding: 8px 5px;
}


.container {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.box-note {
    background-color: white;
    height: 16rem;
    width: 16rem;
    padding: 20px;
    border-radius: 6px;
    position: relative;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: scroll;
    margin: 10px;
}

.box-note::-webkit-scrollbar {
    display: none;
}



.box-note p.title {
    font-size: 1.6rem;
    margin-bottom: 10px;
    /* text-decoration: underline; */
    text-transform: capitalize;
}

.box-note .desc {
    font-size: 1.4rem;
    position: absolute;
    opacity: 0.6;
    text-overflow: ellipsis;

}

.box-note hr.line {
    width: 85%;
    background-color: blue;
    position: absolute;
    bottom: 50px;
}

.box-note .box-footer {

    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    width: 100%;
    margin-bottom: 10px;
    background-color: White;
}



.box-note .box-footer .dlt-btn {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 2rem;
    line-height: 1.3;
}

.box-note .box-footer .dots:hover {
    color: #5e8bf4;

}

.confirm-modal {
    background-color: rgb(255, 255, 255);
    width: 400px;
    text-align: center;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #8fd3f4;
    transition: 0.5s ease;
    /* display: none; */
}
.showConfirm{
    top: 25%;
    /* display: block; */
}

.confirm-modal p {
    font-weight: 500;
    margin-bottom: 2rem;
}
.confirm-modal :nth-child(2) {

    background-color: rgba(255, 255, 255, 0);
    color: #6E6E6E;
    transition: 0.3s ease;
}
.confirm-modal :nth-child(2):hover {

    background-color:#02162211;
    
    /* color: red; */
}

.confirm-modal :nth-child(3) {

    background-color: #DC3545;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 9px 0px;
    transition: 0.3s ease;

}
.confirm-modal :nth-child(3):hover {

    background-color: #be2a39;

}


.confirm-modal>button {
    color: white;
    outline: none;
    border: none;
    padding: 6px 30px;
    font-size: 1.05rem;
    border-radius: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;

    }

    nav .logo {
        margin: 0;
    }

    nav ul {
        margin: 0;

    }

}